In [1]:
from document import BaseDBLoader
import json, tiktoken
import pandas as pd

In [2]:
loader = BaseDBLoader()

document = loader.load(is_regex=True, is_split=False)
# print(document)
corpus = loader.get_corpus()
# print(corpus)
# with open('result1.txt', 'w', encoding='utf-8') as file :
#      file.write(document, file, indent='\t', ensure_ascii=False)

/Users/jk/anaconda3/envs/ssis/lib/python3.10/site-packages/unstructured/documents/html.py:498: FutureWarning: The behavior of this method will change in future versions. Use specific 'len(elem)' or 'elem is not None' test instead.
  rows = body.findall("tr") if body else []

In [3]:
print(type(corpus))

<class 'dict'>

In [4]:
v_list = list(corpus.values())
# for v in v_list:
print(v_list[0])

어르신 국가예방접종 지원 사업

대상

65세 이상 어르신(1958년 12월 31일 이전 출생자)
 주민등록상 출생연도 기준

내용

폐렴구균
 폐렴구균 23가 다당 백신(PPSV23), 1회 지원

 인플루엔자
 인플루엔자 4가 백신(IIV), 매년 1회 지원          인플루엔자는 접종시기가 정해져 있는 계절사업임(매년 10월경)

방법

신분증을 지참하고 전국 지정의료기관 및 보건소 방문
 지정의료기관 확인 예방접종도우미 누리집
 접종기관 방문 전 접종가능 여부 확인 필수

문의

질병관리청 콜센터(1339)

질병관리청 예방접종관리과(04371983988399)

자주 하는 질문

인플루엔자 백신과 폐렴구균 백신은 동시접종이 가능한가요

일반적으로 인플루엔자 백신과 폐렴구균 백신은 동시접종이 가능하며, 동시접종을 하지 못한 경우 특별히 지켜야 할 접종간격은 없습니다. 다만, 의사 예진 후 피접종자의 건강 상태 등을 고려하여 접종 일정을 조정할 수는 있습니다.

In [5]:
def num_tokens_from_string(string: str, encoding_name: str) -> int:
    """Returns the number of tokens in a text string."""
    encoding = tiktoken.get_encoding(encoding_name)
    num_tokens = len(encoding.encode(string))
    return num_tokens

In [6]:
token_list = []
for i in v_list:
    num_token = num_tokens_from_string(i,'cl100k_base')
    token_list.append(num_token)
    
# print(token_list)
print(len(token_list))

464

In [7]:
max(token_list)

3008

In [8]:
idx = token_list.index(max(token_list))
idx

107

In [9]:
token_list[idx]

3008

In [10]:
len_list = []

for i in v_list:
    len_list.append(len(i))
    
max(len_list)

3128

In [11]:
token_data = {
    "num_corpus_splited": len(token_list),
    "max_token": max(token_list),
    "avg_token": sum(token_list)/len(token_list),
    "max_length": max(len_list),
}
token_data

{'num_corpus_splited': 464,
 'max_token': 3008,
 'avg_token': 527.3275862068965,
 'max_length': 3128}

In [12]:
df = { 'num_tokens':token_list,
        'length':len_list
        }

In [13]:
token_df = pd.DataFrame(df, columns=['num_tokens', 'length'])
token_df

     num_tokens  length
0           499     497
1           294     292
2           297     271
3           123     124
4            60      60
..          ...     ...
459          97      99
460         840     815
461         806     802
462         448     434
463         463     452

[464 rows x 2 columns]

In [14]:
token_df.index=token_df.index+1
token_df

     num_tokens  length
1           499     497
2           294     292
3           297     271
4           123     124
5            60      60
..          ...     ...
460          97      99
461         840     815
462         806     802
463         448     434
464         463     452

[464 rows x 2 columns]

In [15]:
token_df.to_csv('non_splitted_token.csv')