In [17]:
from document import BaseDBLoader
import json, tiktoken
import pandas as pd

In [18]:
loader = BaseDBLoader()

document = loader.load(is_regex=True, is_split=True)
# print(document)
corpus = loader.get_corpus()
# print(corpus)
# with open('result1.txt', 'w', encoding='utf-8') as file :
#      file.write(document, file, indent='\t', ensure_ascii=False)

/Users/jk/anaconda3/envs/ssis/lib/python3.10/site-packages/unstructured/documents/html.py:498: FutureWarning: The behavior of this method will change in future versions. Use specific 'len(elem)' or 'elem is not None' test instead.
  rows = body.findall("tr") if body else []

In [19]:
print(type(corpus))

<class 'dict'>

In [20]:
v_list = list(corpus.values())
# for v in v_list:
print(v_list[0])

어르신 국가예방접종 지원 사업

대상

65세 이상 어르신(1958년 12월 31일 이전 출생자)
 주민등록상 출생연도 기준

내용

폐렴구균
 폐렴구균 23가 다당 백신(PPSV23), 1회 지원

 인플루엔자
 인플루엔자 4가 백신(IIV), 매년 1회 지원          인플루엔자는 접종시기가 정해져 있는 계절사업임(매년 10월경)

In [21]:
def num_tokens_from_string(string: str, encoding_name: str) -> int:
    """Returns the number of tokens in a text string."""
    encoding = tiktoken.get_encoding(encoding_name)
    num_tokens = len(encoding.encode(string))
    return num_tokens

In [22]:
token_list = []
for i in v_list:
    num_token = num_tokens_from_string(i,'cl100k_base')
    token_list.append(num_token)
    
# print(token_list)
print(len(token_list))

3436

In [23]:
max(token_list)

240

In [24]:
idx = token_list.index(max(token_list))
idx

1731

In [25]:
token_list[idx]

240

In [26]:
len_list = []

for i in v_list:
    len_list.append(len(i))
    
max(len_list)

199

In [27]:
token_data = {
    "num_corpus_splited": len(token_list),
    "max_token": max(token_list),
    "avg_token": sum(token_list)/len(token_list),
    "max_length": max(len_list),
}
token_data

{'num_corpus_splited': 3436,
 'max_token': 240,
 'avg_token': 163.33323632130384,
 'max_length': 199}

In [28]:
df = { 'num_tokens':token_list,
        'length':len_list
        }

In [29]:
token_df = pd.DataFrame(df, columns=['num_tokens', 'length'])
token_df

      num_tokens  length
0            187     194
1            168     180
2            179     174
3            178     167
4            177     158
...          ...     ...
3431         188     193
3432         188     193
3433         194     191
3434         165     163
3435         179     182

[3436 rows x 2 columns]

In [30]:
token_df.index=token_df.index+1
token_df

      num_tokens  length
1            187     194
2            168     180
3            179     174
4            178     167
5            177     158
...          ...     ...
3432         188     193
3433         188     193
3434         194     191
3435         165     163
3436         179     182

[3436 rows x 2 columns]

In [31]:
token_df.to_csv('splitted_token.csv')